* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nav {
  background-color: rgb(39, 153, 137);
  color: white;
  display: flex;
  padding: 1rem;
}

.middle {
  background-color: rgb(68, 160, 128);
  color: white;
}

form {
  background-color: rgb(255, 200, 69);
  height: 100vh;
}

.btn ´ {
  background-color: rgb(39, 153, 137);
  color: white;
}

ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}

h2 {
  margin: 0;
}
